@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Yesteryear&display=swap');

:root {
    --color-rojo-intenso: #cc0000;
    --rojo-suave: #F44336;
    --verde-Morado-profundo: #9C27B0;
    --Rojo-tierra: #821717;
    --verde-claro: #358226;
    --verde-vibrante: #689f38;
    --verde-oliva: #364e1d;
    --blanco-texto: #f5f5f5;
    --color-fondo: #88a177;
    --titulos: "Amatic SC", sans-serif;
    --parrafo: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

/*==================================================
/*GENERALES
/*==================================================*/
.h1 {
    font-family: var(--titulos);
    color: var(--blanco-texto);
    font-size: 6.25rem;
}

.h2 {
    font-family: var(--titulos);
    color: var(--blanco-texto);
    font-size: 5rem;
}

.h3 {
    font-family: var(--titulos);
    color: var(--blanco-texto);
    font-size: 4rem;
}

.h1Span {
    font-family: var(--titulos);
    color: var(--rojo-suave);
    font-size: 6.25rem;
}

.parrafoBanner {
    font-family: var(--parrafo);
    color: var(--blanco-texto);
    font-size: 1.3rem;
}















/*
=====================================================================
MENU
=====================================================================
*/

body {
    background: var(--color-fondo);
    ;
}

.logo img {
    width: 200px;
    padding-top: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(6px);
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
}

.contenido-nav {
    width: 85%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu ul {
    display: flex;
    gap: 40px;
}

.nav-menu ul li a {
    color: var(--blanco-texto);
    font-size: 22px;
    font-family: var(--parrafo);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: var(--verde-claro);
}

.menu-toggle {
    display: none;
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-menu a.active {
    color: var(--verde-claro);
    font-weight: bold;
}


.nav-dark {
    background-color: rgba(0, 0, 0, 0.8);
    /* cambia según tu diseño */
    transition: background-color 0.3s ease;
}

/*
==================================================================
BANNER
==================================================================
*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url('/contenido/fotos/foto\ banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    display: flex;
    padding: 4px 0;
    overflow: hidden;
    margin-top: 0px;
    z-index: 100;
}

.contenido-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.hero-text {
    width: 100%;
    text-align: center;
}

.separacionBanner {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding: 70px 0 100px;
}

.boton-banner {
    padding: 20px 25px;
    background-color: var(--color-rojo-intenso);
    color: var(--blanco-texto);
    font-size: 24px;
    font-weight: 400;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    transition: .3s ease-in-out;
}

.boton-banner:hover {
    padding: 20px 35px;
    background-color: var(--rojo-suave);
    color: var(--blanco-texto);
}

/*
==============================================
sobre nosotros
==============================================
*/
.sobre-nosotros {
    height: 70dvh;
    display: flex;
    justify-content: center;
}

.contenido-nosotros {
    width: 50%;
}

.separacionNosotros {
    padding: 60px 0;
}

.imagenNosotros {
    width: 40%;
    border-radius: 30px;
}

/*
==============================================
Productos
==============================================
*/
.productos {
    width: 100%;
}

.contenido-productos {
    width: 100%;
    z-index: 0;
}

.contenido-productos .h2 {
    text-align: center;
    padding: 60px 0;
}

.productosCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.card {
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.card img {
    height: 800px;
    object-fit: cover;
    display: block;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.901);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Contenido encima de la imagen */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: var(--blanco-texto);
    padding: 10px;
}

.textoProductos {
    font-family: var(--titulos);
    font-weight: 800;
    font-style: Bold;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 50px;
}

.botonProductos {
    padding: 18px 50px;
    background-color: var(--color-rojo-intenso);
    color: var(--blanco-texto);
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.botonProductos:hover {
    background-color: var(--blanco-texto);
    color: var(--color-rojo-intenso);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.nombreProductos{
    width: 120px;
}

/*
==============================================
Creemos
==============================================
*/

.creemos {
    max-width: 1920px;
    width: 100%;
    padding: 60px 0;
}

.contenido-creemos {
    max-width: 1440px;
    margin: 0 auto;
}

.titulo-creemos {
    font-family: var(--titulos);
    color: var(--blanco-texto);
    font-size: 5rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.parrafo-creemos {
    font-family: var(--parrafo);
    padding: 100px;
    font-size: 24px;
    color: var(--blanco-texto);
    text-align: center;
}


.cards-creemos {
    padding: 60px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card-creemos-contenido {
    background-color: #fff;
    border-radius: 20px;
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card-creemos-contenido:hover {
    transform: scale(1.03);
}

.icono-creemos img {
    width: 60px;
    margin-bottom: 20px;
}

.titulo-creemos-card {
    font-family: var(--titulos);
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.texto-creemos-card {
    font-family: var(--parrafo);
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
}



/*
==============================================
Contacto
==============================================
*/

.contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url(../contenido/fotos/form.jpg);
    padding: 60px 0;
    background-size: cover;
    height: 100dvh;
}

.contenidoContacto {
    width: 85%;
    margin: 0 auto;
}

.contactMap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    width: 700px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    padding: 50px;
    border-radius: 15px;
}

input {
    width: 600px;
    height: 40px;
    margin: 18px 0;
    border: solid 1px #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
}

textarea {
    width: 600px;
    min-height: 40px;
    margin: 18px 0;
    border: solid 1px #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
}

textarea::placeholder {
    color: #fff;
}

textarea:focus {
    outline: none;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}


input::placeholder {
    color: #fff;
}

label {
    font-family: var(--parrafo);
    color: #fff;
    font-size: 20px;
}

.botonFrom {
    width: 200px;
    background-color: var(--color-rojo-intenso);
    border: none;
    color: #fff;
    border-radius: 10px;
    font-family: var(--parrafo);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
}


.map {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    padding: 50px;
    border-radius: 15px;
}

.iconoEncontrarnos {
    color: var(--color-rojo-intenso);
    font-size: 30px;
}

.encontrarnos {
    color: #fff;
    font-size: 20px;
    font-family: var(--parrafo);
    padding-left: 20px;
}

.opcionesEncontrarnos {
    padding: 15px 0;
}



/*footer*/

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    font-size: 0.9rem;
}

.logoF {
    width: 200px;
    height: 130px;
}

.footer-contenido p {
    margin: 5px 0;
}

.contenidoFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.opcionesMenu ul {
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.opcionesMenu a {
    font-family: var(--parrafo);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.opcionesMenu a:hover {
    color: var(--verde-claro);
}






/*
=======================================================================
=======================================================================
=======================================================================
INDEX Productos 
=======================================================================
=======================================================================
=======================================================================

*/
.productos {
    padding: 60px 0;
}

.tituloFiltros {
    text-align: center;
}

.productosTodos {
    width: 85%;
    margin: 0 auto;
}

.contenedorCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.botones-filtro {
    display: flex;
    gap: 12px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-filtro {
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--parrafo);
    transition: background-color 0.3s ease;
}

.btn-filtro:hover,
.btn-filtro.activo {
    background-color: var(--color-rojo-intenso);
    color: #fff;
}


.card-producto {
    position: relative;
    width: 380px;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: #fff;
}

.imagen-producto {
    width: 100%;
    height: 350px;
    display: block;
}

.nombre-producto {
    text-align: center;
    font-family: var(--parrafo);
    margin: 30px 0;
    color: #000;
}

.info-hover {
    position: absolute;
    bottom: 105px;
    right: 165px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.carrito {
    position: absolute;
    top: 0px;
    right: 0px;
}

.agregaCarrito {
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 0px 0px 0px 10px;
}

.agregaCarrito i {
    font-size: 23px;
    color: var(--verde-claro);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.agregaCarrito i:hover {
    color: var(--color-rojo-intenso);
}

.card-producto:hover .info-hover {
    opacity: 1;
}

.ver-mas {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.ver-mas i {
    color: var(--verde-claro);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.imagen-modal {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}







/*
=======================================================================
=======================================================================
=======================================================================
carrito
=======================================================================
=======================================================================
=======================================================================

*/
.carrito-icono {
    position: relative;
}

.carrito-icono i {
    color: var(--color-rojo-intenso);
    font-size: 20px;
}

#contadorCarrito {
    background: #fff;
    color: var(--color-rojo-intenso);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -14px;
}

.carrito-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.carrito-contenido {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(10px);
    width: 500px;
    min-height: 400px;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    padding: 30px;
    border-radius: 15px;
    position: relative;
    color: #fff;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.carrito-item input {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border: none;
    align-items: center;
}

.imagen-carrito {
    width: 70px;
    height: 60px;
}

.imagen-carrito img {
    width: 100%;
    height: 100%;
}

.botonEliminarProduc {
    width: 160px;
}

#finalizarCompra {
    display: inline-flex;
    background: #25D366;
    color: #fff;
    font-family: var(--parrafo);
    font-size: 15px;
    font-family: var(--parrafo);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.eliminar-producto {
    background: var(--color-rojo-intenso);
    color: #fff;
    font-size: 15px;
    font-family: var(--parrafo);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 80%;
}



/*
=======================================================================
=======================================================================
=======================================================================
INDEX NOSOTROS 
=======================================================================
=======================================================================
=======================================================================

*/
.heroNosotros {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.35)), url('/contenido/fotos/sobre-nosotros.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.texto-sobre {
    width: 100%;
    text-align: center;
    color: var(--blanco-texto);
}

.texto-sobre .h1 {
    width: 50%;
}

.texto-sobre {
    text-align: start;
}

.parrafo-banner {
    font-family: var(--parrafo);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    width: 50%;
    margin: 34px 0;
    color: var(--blanco-texto);
}

.boton-ver {
    padding: 15px 70px;
    display: inline-flex;
    border-radius: 10px;
    background: var(--color-rojo-intenso);
    color: var(--blanco-texto);
    font-family: var(--parrafo);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    transform: scale(1);
    transition: transform .5s ease-in-out;
}

.boton-ver span {
    display: inline-flex;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    color: var(--blanco-texto);
    font-family: var(--parrafo);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.boton-ver:hover {
    background: var(--rojo-suave);
}

.boton-ver:hover span {
    color: var(--blanco-texto);
    transform: scale(1.1);
}

.imagenesNosotros img {
    width: 400px;
    height: 350px;
}

.informacionNosotros {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 65px;
}

.informacionNosotros p {
    text-align: center;
}

.imagenesNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 40%;
    align-items: end;
}

.SobeNosotrosExpli {
    background-color: var(--color-fondo);
    height: auto;
}

.SobeNosotrosExpli .h2 {
    text-align: center;
    padding: 60px 0 60px;
}


















/*responsive de telefono*/

@media (max-width: 768px) {
    .nav-menu ul {
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0;
        background-color: rgba(13, 13, 14, 0.95);
        /* efecto glass oscuro */
        /* efecto glass oscuro */
        width: 100%;
        padding: 20px;
        display: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.5s ease-in-out;
    }

    .nav-menu.active ul {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .menu-toggle {
        display: block;
        z-index: 1100;
        color: var(--negro-intendo);
        font-size: 35px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .menu-toggle i {
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    /* Cuando se convierte en X */
    .menu-toggle i.animate-x {
        transform: rotate(180deg) scale(1.2);
        opacity: 1;
    }



    /* texto h1*/
    .hero-text {
        flex: 1;
        padding: 0 40px;
        width: 100%;
        text-align: center;
        color: var(--blanco-texto);
    }

    .hero-text h1 {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .boton-banner {
        padding: 15px 20px;
        font-size: 20px;
    }

}
